@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap");

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

body {
  font-family: 'Playfair Display', serif;
  background: #0b0b0d;
  color: #fff;
  margin: 0;
  overflow: hidden;
}
